@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* WebKit (Safari, Chrome) */
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the tracking area */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 10px; /* Roundness of the scroll thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin; /* "auto", "thin", or "none" */
    scrollbar-color: blue #f1f1f1; /* Scrollbar color and track color */
  }
  